{% assign research-community = site.data.data.research-community %}
{% if research-community %}
<section class="section summary-section">

  <!--<embed src="marcrusswurm.pdf" width="100%" height="500">-->

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
    </span>
    {{ research-community.title }}
  </h2>

  <div class="research-section-content">
    <div class="summary">
      {{ research-community.summary | markdownify }}
    </div><!--//summary-->

    <div class="research-section-logo">
      <img src="{{ site.baseurl }}/assets/images/meo_logo.jpeg" alt="Machine Learning in Earth Observation Laboratory logo">
    </div>
  </div>
    
</section><!--//section-->
{% endif %}
