{% assign teaching = site.data.data.teaching %}
{% if teaching %}
<section class="section teaching-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ teaching.title }}
  </h2>

  {% if teaching.groups %}
    {% for group in teaching.groups %}
    <div class="teaching-group">
      <h4 class="teaching-group-title">{{ group.title }}</h3>
      {% if group.intro %}
      <div class="intro">
        {{ group.intro | markdownify }}
      </div><!--//intro-->
      {% endif %}
      <ul>
      {% for publication in group.courses %}
      <div class="item">
        {% if publication.link %}
          <li><a href="{{ publication.link }}">{{ publication.title }}</a></li>
        {% else %}
          <li>{{ publication.title }}</li>
        {% endif %}
        <div class="publication-authors">{{ publication.authors }}</div>
        <div class="publication-conference">{{ publication.conference }}</div>
      </div><!--//item-->
      {% endfor %}
      </ul>
    </div><!--//teaching-group-->
    {% endfor %}
  {% else %}
    {% if teaching.intro %}
    <div class="intro">
      {{ teaching.intro | markdownify }}
    </div><!--//intro-->
    {% endif %}

    <ul>
    {% for publication in teaching.courses %}
    <div class="item">
      {% if publication.link %}
        <li><a href="{{ publication.link }}">{{ publication.title }}</a></li>
      {% else %}
        <li>{{ publication.title }}</li>
      {% endif %}
      <div class="publication-authors">{{ publication.authors }}</div>
      <div class="publication-conference">{{ publication.conference }}</div>
    </div><!--//item-->
    {% endfor %}
    </ul>
  {% endif %}

</section><!--//section-->
{% endif %}
